/*!
*CSS for Blocking in home page
*/
span.block{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: lightyellow; 
}

.user_icon{
    color: #05b3f7;
    padding: 0px, 10px,10px.0px;
}