<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <div th:replace="fragments/header :: header"></div>
</head>
<body>
   <div th:replace="fragments/header :: header-nav"></div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"><span class="block"><a th:href="@{/teachers_list}">Teachers</a></span></div>
    <div class="col-sm-4"><span class="block"><a th:href="@{/students_list}">Students</a></span></div>
    <div class="col-sm-4"><span class="block"><a th:href="@{/complaints}">Complaints</a></span></div>
  </div>
  </div>
  <footer>
    <div th:replace="fragments/footer :: footer">&copy; 2016 pironix</div>
</footer>
</body>
</html>